@font-face {
  font-family: "Supreme Regular";
  src: url("./assets/fonts/Supreme-Regular.otf");
}

@font-face {
  font-family: "Supreme Thin";
  src: url("./assets/fonts/Supreme-Thin.otf");
}

@font-face {
  font-family: "Supreme Light";
  src: url("./assets/fonts/Supreme-Light.otf");
}

@font-face {
  font-family: "Supreme Medium";
  src: url("./assets/fonts/Supreme-Medium.otf");
}

@font-face {
  font-family: "Supreme Bold";
  src: url("./assets/fonts/Supreme-Bold.otf");
}

@font-face {
  font-family: "Supreme Extrabold";
  src: url("./assets/fonts/Supreme-Extrabold.otf");
}
