.ue-admin-page {
  display: flex;

  form {
    display: flex;
    flex-direction: column;
    width: 100%;

    div {
      display: flex;

      div {
        display: flex;
        flex-direction: column;
        max-width: 600px;
        width: 100%;

        div {
          display: unset;
          flex-direction: unset;
          max-width: unset;
          width: unset;
        }

        h1 {
          margin-bottom: 0;
          margin-top: 40px;
        }

        label {
          margin-top: 20px;
          margin-bottom: 10px;
        }

        input,
        textarea {
          padding: 10px 15px;
        }

        textarea {
          height: 100px;
        }

        .select-file-box {
          display: flex;
          gap: 20px;

          .input-file-label {
            padding: 10px 15px;
            border-radius: 5px;
            border: 2px solid rgba(0, 0, 0, 0.2);
            cursor: pointer;
            font-weight: 400;
            background: #e3e3e3;
          }
        }

        input[type="file"] {
          display: none;
        }

        textarea {
          resize: none;
          font-family: inherit;
          font-size: 13px;
          font-weight: 400;
        }
      }

      .ue-post-box {
        flex-grow: 1;
        max-width: unset;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        .ue-person-post {
          max-width: 310px;
          align-self: unset;
        }
      }
    }

    button {
      margin-top: 30px;
      padding: 15px 10px;
      background: var(--ue-main-color);
      cursor: pointer;
      border: none;
      border-radius: 5px;
      max-width: 600px;
    }
  }

  .ue-admin-page__posts {
    padding-top: 200px;
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;

    .ue-person-post {
      align-self: unset;
      max-width: 310px;
      word-wrap: break-word;

      h1,
      p,
      .ue-person-post__description {
        max-width: 290px;
      }
    }
  }
}

@media only screen and (max-width: 980px) {
  form {
    max-width: unset !important;

    button {
      max-width: unset !important;
    }

    > div {
      flex-direction: column;

      div {
        max-width: unset !important;
      }
    }

    .ue-post-box {
      margin-top: 50px;
      margin-bottom: 75px;
    }
  }
}
