.ue-admin-page {
  display: flex;
  justify-content: space-between;
  gap: 20px;

  .ue-post-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .ue-admin-post {
      cursor: pointer;
      min-width: 280px;
      border: 1px solid var(--ue-secondary-color);
      background: #fff;
      padding: 20px;
      align-self: start;
      justify-self: start;
      font-size: 24pt;
      font-weight: 900;
      width: calc(100% - 40px);

      .ue-admin-post-actions {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 40px;

        button {
          width: 30px;
          height: 30px;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          background: rgb(201, 201, 201);
          border: none;
          border-radius: 5px;
          box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.1);

          &:nth-child(2) {
            background: #ff0033;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1440px) {
  .ue-admin-page {
    flex-wrap: wrap;
  }

  .ue-post-wrapper {
    width: 45%;
    flex-grow: 1;
  }
}

@media only screen and (max-width: 800px) {
  .ue-admin-page {
    padding: 20px;
  }

  .ue-post-wrapper {
    width: 100% !important;
  }
}
