@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: var(--ue-main-background-color);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
  --ue-main-color: #42cfc7;
  --ue-secondary-color: #565656;
  --ue-main-background-color: #f3f3f3;
}

.ue-blue-background {
  height: 330px;
  width: 100%;
  position: absolute;
  left: 0;
  top: 130px;
  background-color: var(--ue-main-color);
}

.ue-main-cards {
  padding: 40px 60px;
  gap: 20px;
  display: flex;
  position: relative;
  // justify-content: center;
  flex-wrap: wrap;
}

.ue-main-cards h1 {
  text-align: center;
  color: var(--ue-secondary-color);
}

.ue-post-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 23%;

  .ue-person-post {
    min-width: 310px;
    border: 1px solid var(--ue-secondary-color);
    background: #fff;
    padding-left: 20px;
    padding-bottom: 20px;
    // align-self: start;
    // justify-self: start;
    width: 100%;
    cursor: pointer;
    transition: box-shadow 0.2s ease-in-out;

    &:hover {
      box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.1);

      .ue-person-post__profile-text {
        h1 {
          color: rgb(35, 35, 41);
        }
      }

      .ue-person-post__actions {
        button:nth-child(1) {
          border-color: rgb(35, 35, 41);
          color: rgb(35, 35, 41);
        }
      }
    }

    .ue-person-post__heading-image {
      margin-left: -20px;
      height: 310px;
      width: calc(100% + 20px);
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
    }

    .ue-person-post__label {
      width: 160px;
      height: 25px;
      margin-bottom: 15px;
      border-bottom-left-radius: 3px;
      background: var(--ue-secondary-color);
      margin-left: auto;
      font-size: 16px;
      color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .ue-person-post__profile {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
      gap: 20px;

      .ue-person-post__profile-image {
        width: 95px;
        height: 95px;
        border-radius: 50%;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-grow: 1;
        max-width: 95px;
        min-width: 95px;
        aspect-ratio: 1/1;

        img {
          height: 100%;
        }
      }

      .ue-person-post__profile-text {
        color: var(--ue-secondary-color);
        padding-right: 20px;

        h1,
        p {
          text-align: left;
          font-size: 24px;
          margin: 0 !important;
          transition: color 0.2s ease-in-out;
        }
      }
    }

    .ue-person-post__description {
      color: var(--ue-secondary-color);
      font-size: 15px;
      line-height: 22px;
      margin-bottom: 25px;
      padding-right: 20px;
      overflow: hidden;
      text-overflow: ellipsis;
      height: 200px;
      // display: -webkit-box;
      // -webkit-line-clamp: 5; /* number of lines to show */
      // line-clamp: 5;
      // -webkit-box-orient: vertical;
    }

    .ue-person-post__actions {
      display: flex;
      justify-content: space-between;
      padding-right: 20px;
      align-items: center;

      button:nth-child(1) {
        transition: border-color 0.2s ease-in-out, color 0.2s ease-in-out;
      }
    }
  }
}

.read-more-button {
  border: 1px solid var(--ue-secondary-color);
  background: transparent;
  font-size: 13px;
  line-height: 13px;
  color: var(--ue-secondary-color);
  border-radius: 3px;
  padding: 0px 15px;
  cursor: pointer;
  height: 25px;
  text-align: center;
  text-transform: uppercase;
  transition: background 5s ease-in-out, color 5s ease-in-out;

  &:hover {
    background: var(--ue-main-color);
    color: #fff !important;
  }
}

.audio-button {
  width: 25px;
  height: 25px;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--ue-main-color);
  border: 0;
  cursor: pointer;

  svg {
    transform-origin: center center;
    transition: transform 0.2s ease;
  }

  &:hover {
    svg {
      transform: scale(1.3);
    }
  }
}

.ue-main-video {
  margin: 55px 220px;
  position: relative;

  video {
    width: 100%;
    height: 100%;
    background: #000;
  }
}

.ue-main-header {
  margin: 0 50px;
  margin-bottom: 80px;
  position: relative;
  padding: 55px 5%;
  height: unset !important;

  .ue-main-header__label {
    position: absolute;
    top: 0;
    right: 0;
    width: 160px;
    height: 25px;
    margin-bottom: 15px;
    border-bottom-left-radius: 3px;
    background: var(--ue-secondary-color);
    margin-left: auto;
    font-size: 16px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .ue-main-header__person {
    display: flex;
    gap: 65px;

    .ue-main-header__image {
      width: 275px;
      aspect-ratio: 1/1;
      overflow: hidden;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        height: 100%;
      }
    }

    .ue-main-header__text {
      display: flex;
      flex-direction: column;
      justify-content: center;

      h1 {
        font-size: 32px;
        line-height: 45px;
        color: var(--ue-secondary-color);
        margin: 0;
      }

      P {
        color: var(--ue-secondary-color);
        margin: 0;
        font-size: 32px;
        line-height: 45px;
        margin-bottom: 20px;
      }
    }
  }

  .ue-main-header__description {
    margin-top: 30px;
    font-size: 22px;
    line-height: 37px;
  }
}

.ue-main-header {
  margin: 0 210px;
  display: flex;
  height: 610px;
  background: #fff;
  position: relative;

  video {
    width: 100%;
    height: 100%;
  }
}

@media only screen and (max-width: 1440px) {
  .ue-main-header,
  .ue-main-video {
    margin: 0 50px;
  }

  .ue-main-cards {
    padding: 40px 50px;
    display: flex;
    flex-wrap: wrap;

    .ue-post-wrapper {
      width: 45%;
      flex-grow: 1;
    }
  }
}

@media only screen and (max-width: 980px) {
  .ue-main-header__text {
    display: flex;
    flex-direction: column;
    justify-content: center;

    h1 {
      font-size: 24px !important;
      // line-height: 45px;
      color: var(--ue-secondary-color);
      margin: 0;
    }
  }
}

@media only screen and (max-width: 800px) {
  .ue-main-header__person {
    flex-direction: column;

    .ue-main-header__image {
      width: 200px !important;
    }
  }

  .ue-main-cards {
    padding: 40px 50px;

    .ue-post-wrapper {
      width: 100% !important;
      max-width: unset !important;
    }
  }
}

@media only screen and (max-width: 480px) {
  .ue-blue-background {
    top: 65px;
    height: 100px;
  }

  // .ue-person-post__profile-text p,
  // h1 {
  //   font-size: 18px !important;
  // }

  // .ue-person-post__profile-image {
  //   width: 80px !important;
  //   height: 80px !important;
  //   max-width: 80px !important;
  // }

  .ue-main-header,
  .ue-main-video {
    margin: 0 20px;
    height: 265px;
  }

  .ue-main-cards {
    padding: 40px 20px;
  }
}
