@import "fonts";

body {
  margin: 0;
  font-family: "Supreme Regular", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

input,
textarea {
  border-radius: 5px;
  border: 2px solid rgba(0, 0, 0, 0.2);

  &:focus {
    outline: none;
  }
}

:root {
  --ue-main-color: #42cfc7;
  --ue-secondary-color: #565656;
  --ue-main-background-color: #f3f3f3;
}

.ue-errors {
  position: absolute;
  top: 0;
  left: 50%;
  height: 50px;
  transform: translateX(-50%);

  .ue-error-box {
    padding: 15px 20px;
    background: #d8000c;
    color: #fff;
    animation: slideIn 2s ease-in-out forwards;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    @keyframes slideIn {
      from {
        margin-top: 5px;
      }

      25% {
        margin-top: 20px;
      }

      70% {
        opacity: 1;
        margin-top: 20px;
      }

      90% {
        opacity: 0;
        margin-top: 20px;
      }

      100% {
        opacity: 0;
      }
    }
  }
}

a {
  color: #000;
  font-size: 20px;
}

.ue-underline {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 100%;
    height: 1px;
    width: 0%;
    transition: width 0.2s ease-in-out;
    background: #000;
    left: 0;
  }

  &:hover {
    &::after {
      width: 100%;
    }
  }

  &.active-link {
    &::after {
      width: 100% !important;
    }
  }
}

.ue-admin-page {
  padding: 40px 60px;
}

button {
  &:active {
    animation: clickButton 0.1s ease-in-out forwards;
  }

  @keyframes clickButton {
    from {
      transform: scale(1);
    }

    75% {
      transform: scale(0.9);
    }

    to {
      transform: scale(1);
    }
  }
}

.quill {
  border-radius: 5px;
  border: 2px solid #000;
  button {
    margin-top: 0px !important;
  }
}