.ue-main-video {
  margin: 0 210px;
  display: flex;
  height: 610px;
  background: #fff;
  position: relative;

  video {
    width: 100%;
    height: 100%;
  }
}

.ue-main-cards {
  padding: 40px 60px;
  gap: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;

  > h1 {
    grid-column: 1/5;
    text-align: center;
    color: var(--ue-secondary-color);
  }
}

@media only screen and (max-width: 1440px) {
  .ue-main-video {
    margin: 0 50px;
  }

  .ue-main-cards {
    padding: 40px 50px;
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 800px) {
  .ue-main-cards {
    padding: 40px 50px;
    grid-template-columns: 1fr;
  }
}

@media only screen and (max-width: 480px) {
  .ue-main-video {
    margin: 0 20px;
    height: 265px;
  }

  .ue-main-cards {
    padding: 40px 20px;
  }
}
